n8n-workflows/github-issue-to-ccmux.json
{
  "name": "GitHub Issue → ccmux Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-issues",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-action",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-opened",
      "name": "IF issue opened",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// BL-1: forward the *exact* bytes ccmux must verify. We re-serialize once\n// here and compute the HMAC over that same buffer, so the signature matches\n// what ccmux's verifyGitHubSignature recomputes on its raw body.\n//\n// Set the n8n credential 'CCMUX_WEBHOOK_SECRET' in Settings → Environment.\nconst crypto = require('crypto');\nconst issue = $input.first().json.body.issue;\nconst payload = JSON.stringify({\n  action: 'opened',\n  issue: {\n    number: issue.number,\n    title: issue.title,\n    body: issue.body || ''\n  }\n});\nconst secret = $env.CCMUX_WEBHOOK_SECRET || '';\nlet signature = '';\nif (secret) {\n  signature = 'sha256=' + crypto.createHmac('sha256', secret).update(payload).digest('hex');\n}\nreturn [{ json: { sessionName: `issue-${issue.number}`, payload, signature } }];"
      },
      "id": "set-session-params",
      "name": "Build Payload + HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CCMUX_SERVE_URL || 'http://127.0.0.1:9090' }}/webhook/github",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-GitHub-Event", "value": "issues" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Hub-Signature-256", "value": "={{ $json.signature }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "bodyParameters": {
          "parameters": []
        },
        "body": "={{ $json.payload }}",
        "options": {
          "fullResponse": false
        }
      },
      "id": "post-ccmux",
      "name": "POST to ccmux",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"reason\": \"not an opened issue\" }",
        "options": {}
      },
      "id": "respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{ "node": "IF issue opened", "type": "main", "index": 0 }]]
    },
    "IF issue opened": {
      "main": [
        [{ "node": "Build Payload + HMAC", "type": "main", "index": 0 }],
        [{ "node": "Respond Skip", "type": "main", "index": 0 }]
      ]
    },
    "Build Payload + HMAC": {
      "main": [[{ "node": "POST to ccmux", "type": "main", "index": 0 }]]
    },
    "POST to ccmux": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccmux",
    "notes": "GitHub webhook → n8n → ccmux serve /webhook/github → ccmux auto session\n\nSetup:\n1. In GitHub repo: Settings → Webhooks → Add webhook\n   Payload URL: https://<your-n8n>/webhook/github-issues\n   Content type: application/json\n   Events: Issues only\n2. In n8n: Import this workflow, set active=true.\n3. In n8n Settings → Environment, add CCMUX_WEBHOOK_SECRET=<shared secret>.\n4. In ~/.ccmux/config.json, set the same value as n8n.webhookSecret.\n5. Run: ccmux serve  (listens on :9090).\n\nBL-1 (security): The Build Payload + HMAC node signs the outbound body with\nCCMUX_WEBHOOK_SECRET and sends the digest as X-Hub-Signature-256. ccmux\nrejects requests with a missing or non-matching signature when its\nn8n.webhookSecret is set. Body must be sent verbatim — switching the HTTP\nRequest node to JSON-body mode would re-serialize and break the signature."
  },
  "id": "github-issue-to-ccmux",
  "tags": [{ "name": "ccmux" }]
}
